{% extends "../_site/site.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if error != -1 %}
                {% if error == 0 %}
                    Failed to create planner, unknown error.
                {% endif %}
            {% endif %}

            <h4 class="card-title">Create new Planner</h4>
            <form method="post">
                <div class="form-group">
                    <label for="frmTitle">Planner Title</label>
                    <input type="text" name="title" id="frmTitle" class="form-control" 
                        placeholder="Enter title of the planner" aria-describedby="frmTitleHelpId" required>
                    <small id="frmTitleHelpId" class="text-muted">Enter the title of the planner</small>
                </div>

                <div class="form-group">
                    <label for="frmDescription">Description</label>
                    <textarea class="form-control" name="description" id="frmDescription" rows="6" required></textarea>
                </div>

                <div class="form-group">
                  <label for="frmPublic">Publically Visible</label>
                  <input type="checkbox" name="public" id="frmPublic" class="form-control" aria-describedby="frmPublicId">
                  <small id="frmPublicId" class="text-muted">This states if the planner is visible publically</small>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}