{% extends "_site/site.html" %}

{% block content %}
    <h4 style="margin-bottom:20px;">
        Please Select a Planner
        <div class="float-right">
            <a href="/planner/new">
                <button class="btn btn-outline-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    New
                </button>
            </a>
        </div>
    </h4>

    {% if planners == null %}
        <p class="text-muted">Could not find any planners, click the New button above to create one.</p>
    {% else %}
        {% for p in planners %}
            <div class="card sb-card" style="margin-bottom: 10px">
                <div class="card-body">
                    <a href="/planner/view?id={{p.getId()}}">{{p.getTitle()}}</a>
                    <p class="mb-0">{{p.getDescription()}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}