{% extends "_site/site.html" %}

{% block content %}
    <h4 style="margin-bottom:20px;">
        Please Select a Planner
        <div class="float-right">
            <a href="/planner/new">
                <button class="btn btn-outline-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    New
                </button>
            </a>
        </div>
    </h4>

    <div class="card sb-card" style="margin-bottom: 10px">
        <div class="card-body">
            <a href="topic?id=0">Web Application Development</a>
            <p class="mb-0">Planning and tracking progress in the development of the web app</p>
        </div>
    </div>

    <div class="card sb-card" style="margin-bottom: 10px">
        <div class="card-body">
            <a href="topic?id=0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
            <p class="mb-0">Sed iaculis gravida sapien sed egestas. Nullam eget quam tempus, faucibus mauris non, sagittis nunc. Vivamus pellentesque metus nisi, at consectetur nulla porttitor eu. Vivamus egestas.</p>
        </div>
    </div>

    <div class="card sb-card" style="margin-bottom: 10px">
        <div class="card-body">
            <a href="topic?id=0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
            <p class="mb-0">Sed iaculis gravida sapien sed egestas. Nullam eget quam tempus, faucibus mauris non, sagittis nunc. Vivamus pellentesque metus nisi, at consectetur nulla porttitor eu. Vivamus egestas.</p>
        </div>
    </div>
{% endblock %}